body {
  background: #282E33;
  color: #fff;
  padding: 20px;
}

.testTask_app__wrap {
  display: flex;
}

.testTask_company__wrap {
  margin-left: 20px;
}

.testTask_company__card {
  height: 400px;
  width: 350px;
  margin-top: 20px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
}

.testTask_company__cardHeader {
  height: 50px;
  background: #18191D;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.testTask_company__cardContent {
  display: flex;
  flex-direction: column;
}

.testTask_company__formRow {
  display: flex;
  justify-content: space-between;
}